*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    border: solid 2px white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
}
main h2{
    margin:0px;
    text-align: center;
}

.main .contGen{
    width: 100%;
    height: 200px;
    display: flex;
    border: solid 2px gray;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.main .contGen .contGrid{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main .contGrid .producto{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main .contGrid .producto .imgcCont{
    width: 6%;
    min-width: 70px;
}
.main .contGen .contGrid .producto .info{
    display: flex;
}
.main .contGen .contGrid .producto .imgcCont img{
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}
.main .contGrid .contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}   
.main .contGrid .contenido strong{
    font-size: 20px;
}
.main .contGrid .contenido p{
    font-size: 25px;
}
.main .contGrid .producto .info{
    display: flex;
    flex-direction: column;
}
.main .contGrid .producto .info button{
    height: 45px;
    margin-top: 5px;
    cursor: pointer;
    border: solid 3px rgb(250, 71, 0);
    padding: 5px;
    background: rgb(255, 153, 0);
}
.main .contGrid .producto .info .trash{
    position: absolute;
top: -7px;
right: -2px;
padding: 10px;
}
.main .end{
    padding: 2px;
    margin: 20px;
}
.main .end button{
    color: white;
    font-size: 20px;
    padding: 5px;
    background-color: orange;
    cursor: pointer;
}
.main .end input{
    font-size: 20px;
    padding: 5px;
}