*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}
main h2{
    margin:0px;
    text-align: center;
}
.main .contGrid{
    display: flex;
    margin: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20%;
    overflow: hidden;
}
.main .contGrid .producto{
    margin-left: 0px;
    width: 300px;
    height: 600px;
    border: solid 2px #000;
    overflow: hidden;
    border-radius: 20px;
}
.main .contGrid .producto .imgCont{
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-bottom: solid 2px #000;
    float: left;
}
.main .contGrid .producto .imgCont img{
    display: flex;
    margin-left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    float: left;
}
.main .contGrid .contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main .contGrid .contenido strong{
    font-size: 20px;
}
.main .contGrid .contenido p{
    font-size: 25px;
}
.main .contGrid .contenido button{
    margin-top: 5px;
    cursor: pointer;
    border: solid 3px rgb(250, 71, 0);
    padding: 5px;
    background: rgb(255, 153, 0);
}