header {
    padding: 20px 0;
    background-color: var(--colorNaranja);
}

header .logo {
    display: flex;
    justify-content: center;
    align-content: center;
}

header img {
    width: 110px;
    height: 90%;
}
header button {
    color: var(--colorNegro);
    border: 1px solid var(--colorNaranja);
    background-color: var(--colorNaranja);
}
header .burger {
    font-size: 40px;
    display: flex;
    justify-content: start;
}

header .carrito,
.seach {
    font-size: 30px;
    display: flex;
    justify-content: end;
}

header .grid {
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;
    margin: 0 15px;
}
header .t-f {
    display: flex;
    justify-content: center;
    
}

header nav {
    margin: 20px;
    text-align: left;
}

header nav ul {
    padding-bottom: 10px;
}

header nav ul li {
    margin: 10px 0;
}

header nav a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: var(--tamañoFuente);
    
}