.home header {
    padding-top: 20px;
    
    background-color: #d6651fd1; 
    width: 100%;
    
}

.home header .logo {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 20px;
}


.home header img {
    width: 160px;
    height: 90%;
    padding: 0 20px;
}
.home header button {
    color: var(--colorBlanco);
    border: 1px  /* var(--colorNaranja) */;
    background-color: rgba(255, 255, 255, 0);
}
.home header .burger {
    font-size: 30px;
    display: flex;
    justify-content: start;
    background-color: rgba(255, 255, 255, 0);
}

.home header .carrito,
.seach {
    font-size: 30px;
    display: flex;
    justify-content: end;
    background-color: rgba(255, 255, 255, 0);
}

.home header .grid {
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;
    margin: 0 15px;
}
.home header .t-f {
    display: flex;
    justify-content: center;
    
}

.home header nav {
    margin: 20px;
    text-align: left;
    display: none;
    
}

.home header nav ul {
    padding-bottom: 10px;
}

.home header nav ul li {
    margin: 10px 0;
    
}

.home header nav a {
    color: white;
    text-transform: uppercase;
    font-size: var(--tamañoFuente);
    
}
@media (min-width:769px) {
    .home header img  {
        padding-left: 30px;
        justify-content: center;
    }
    
    .home header .grid .burger{
        display: none;
    }
    .home header nav {
        display: flex;
        width: 90%;
        justify-items: center;
    }
    .home header nav ul {
        display: flex;
        justify-content: center;
        width: 40%;
    }
    .home header nav ul li {
        margin: 0 5px;
    }
    .home header nav ul.user {
        display: flex;
        justify-content: end;
        
    }
    .home header .t-f{
        display: none;
    }
    }
