<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="detail">
    <header>
        <div class="grid">
            <button class="burger">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="logo">
                <a href="/"><img src="../img/logo/logo-beerbar.png" alt="logo"></a>
            </div>
            <button class="carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <button class="seach">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <nav>
            <ul>
                <li><a href="/productos">Productos</a></li>
                <li><a href="#">Empresa</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="user">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
            </ul>

            <div class="t-f">
                <button><i class="fa-brands fa-twitter"></i></button>
                <button><i class="fa-brands fa-facebook-f"></i></button>
            </div>
        </nav>

    </header>
</body>
</html>