<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/e41faadd8e.js" crossorigin="anonymous"></script>
<!--  Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body class="home">
    <header>
        <div><a href="/"><img src="../img/logo/logo-beerbar.png" alt="logo"></a></div>

        <nav>
            <ul> 
                <li><a href="/productos">Productos</a></li>
                <li><a href="#">Empresa</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
            </ul>

        </nav>
    </header>



    <footer>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <span>Copyright</span>
    </footer>
</body>
</html>